@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playwrite+BE+VLG:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@417&family=Playwrite+BE+VLG:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@417&family=Playwrite+BE+VLG:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merienda:wght@500&family=Outfit:wght@606&family=Playwrite+BE+VLG:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  /* background-color: rgba(255, 252, 249, 0.801); */
  font-family: "Outfit", serif;
  /* background: #eee; */
  background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");
  /* padding: 0 16px; */
}

.card-stepper {
    z-index: 0
  }
  
  #progressbar-2 {
    color: #455A64;
  }
  
  #progressbar-2 li {
    list-style-type: none;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
  }
  
  #progressbar-2 #step1:before {
    content: '\f058';
    font-family: "Font Awesome 5 Free";
    color: #fff;
    width: 37px;
    margin-left: 0px;
    padding-left: 0px;
  }
  
  #progressbar-2 #step2:before {
    content: '\f058';
    font-family: "Font Awesome 5 Free";
    color: #fff;
    width: 37px;
  }
  
  #progressbar-2 #step3:before {
    content: '\f058';
    font-family: "Font Awesome 5 Free";
    color: #fff;
    width: 37px;
    margin-right: 0;
    text-align: center;
  }
  
  #progressbar-2 #step4:before {
    content: '\f111';
    font-family: "Font Awesome 5 Free";
    color: #fff;
    width: 37px;
    margin-right: 0;
    text-align: center;
  }
  
  #progressbar-2 li:before {
    line-height: 37px;
    display: block;
    font-size: 12px;
    background: #c5cae9;
    border-radius: 50%;
  }
  
  #progressbar-2 li:after {
    content: '';
    width: 100%;
    height: 10px;
    background: #c5cae9;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    z-index: -1;
  }
  
  #progressbar-2 li:nth-child(1):after {
    left: 1%;
    width: 100%
  }
  
  #progressbar-2 li:nth-child(2):after {
    left: 1%;
    width: 100%;
  }
  
  #progressbar-2 li:nth-child(3):after {
    left: 1%;
    width: 100%;
    background: #c5cae9 !important;
  }
  
  #progressbar-2 li:nth-child(4) {
    left: 0;
    width: 37px;
  }
  
  #progressbar-2 li:nth-child(4):after {
    left: 0;
    width: 0;
  }
  
  #progressbar-2 li.active:before,
  #progressbar-2 li.active:after {
    background: #6520ff;
  }

  /* styles.css */
.add-to-cart-button {
  /* Default styles */
  font-size: 1rem; /* Default font size */
  padding: 8px 16px; /* Default padding */
}

/* Media query for screens between 360px and 410px */
@media (max-width: 410px) and (min-width: 320px) {
  .add-to-cart-button {
    font-size: 0.75rem; /* Reduced font size */
    padding: 3px 9px; /* Reduced padding */
  }
}


.App{
  mix-blend-mode: overlay;
}